<div class="b-lots-container">
    <div class="b-lot">
        <div class="b-lot__title"><a class="b-lot__title-link" href="#">iPad air</a></div>
        <div class="b-lot__image">
            <img src="../assets/images/lots/ipad-air-201410-gallery5_GEO_RU.jpeg" alt="">
        </div>
        <div class="b-lot__time">00:01:38</div>
        <div class="b-lot__cost">12.70</div>
        <div class="b-lot__last-user">Alexander</div>
        <div class="b-lot__button"><a href="#">Bid now</a></div>
    </div>
    <div class="b-lot">
        <div class="b-lot__title"><a class="b-lot__title-link" href="#">Samsung TV</a></div>
        <div class="b-lot__image">
            <img src="../assets/images/lots/i.jpg" alt="">
        </div>
        <div class="b-lot__time">00:10:22</div>
        <div class="b-lot__cost">12.70</div>
        <div class="b-lot__last-user">Egor pidor</div>
        <div class="b-lot__button"><a href="#">Bid now</a></div>
    </div>
</div>