<div class="b-sigin">
    <form class="b-sigin__form" (ngSubmit)="onLogin()">
        <input type="text" name="username" placeholder="USERNAME" class="b-sigin__input b-sigin__input_text" [(ngModel)]="loginForm.username" />
        <input type="password" name="password" placeholder="PASSWORD" class="b-sigin__input b-sigin__input_password" [(ngModel)]="loginForm.password" />
        <div class="b-sigin__footer">
            <div class="b-sigin__footer-item">
                <a href="#" class="b-sigin__remember">Забыли пароль?</a>
            </div>
            <div class="b-sigin__footer-item">
                <input *ngIf="!loading;else displayLoading" type="submit" class="b-sigin__input b-sigin__input-submit" value="Войти" />
                <ng-template #displayLoading>
                    <img class="b-sigin__loading" src="../../assets/images/authentication/auth-loading.gif" alt="">
                </ng-template>
            </div>
        </div>
    </form>
</div>