@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="b-header-account__list">
        <li class="b-header-account__item">@Html.ActionLink(User.Identity.Name, "Index", "Profile", null, new { @class = "b-header-account__link" })</li>
        <li class="b-header-account__item">@Html.ActionLink("Выйти", "Logout", "Account", null, new { @class = "b-header-account__link" })</li>
    </ul>
}
else
{
    <ul class="b-header-account__list">
        <li class="b-header-account__item">@Html.ActionLink("Регистрация", "Register", "Account", null, new { @class = "b-header-account__link" })</li>
        <li class="b-header-account__item">@Html.ActionLink("Войти", "Login", "Account", null, new { @class = "b-header-account__button" })</li>
    </ul>
}