@mixin super-header-background {
    background: #02ab7e;
    background: -moz-linear-gradient(left, #02ab7e 1%, #0380c1 100%);
    background: -webkit-linear-gradient(left, #02ab7e 1%,#0380c1 100%);
    background: linear-gradient(to right, #02ab7e 1%,#0380c1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02ab7e', endColorstr='#0380c1',GradientType=1 );
}

$green-color: #02ab7e;
$blue-color: #0380c1;
$header-link-color: #eaeaea;
$header-link-hover-color: #fff;
$header-active-button-color: #026193;

/* Logo */
.b-logo {
    text-decoration: none;
    height: 100px;
    width: 100px;
    background: $green-color;

    &__image {
        height: 80px;
        margin: 0 auto;
        display: block;
    }

    &__title {
        height: 20px;
        line-height: 20px;
        color: #fff;
        font-size: 14px;
        text-align: center;
    }
}

/* Header */
.b-header {
    min-width: 768px;
    position: relative;
    overflow: hidden;

    &__logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding-left: 100px;
    }
}


.b-main-content {
    background: #ecedec;
}

/* Super header*/
.b-super-header {
    @include super-header-background;
    padding: 8px 0;
    border-left: 1px solid #fff;

    &__nav {
        float: right;
        list-style: none;
        padding-right: 20px;
    }

    &__item {
        float: left;
        margin-left: 20px;
        padding: 0;

        &:last-child {
            margin-left: 60px;
        }
    }

    &__link {
        text-decoration: none;
        color: $header-link-color;
        text-decoration: none;
        font-size: 13px;

        &:hover {
            color:$header-link-hover-color;
        }
    }

    &__logout {
        margin-left: 10px;
        cursor: pointer;
    }
}

/* User panel */
.b-user-panel {
    @include super-header-background();

    &__nav {
        list-style: none;
    }

    &__item {
        float: left;
        width: 20%;

        &:last-child {
            background: #ecd481;
        }
    }

    &__button {
        box-sizing: border-box;
        text-decoration: none;
        display: block;
        height: 66px;
        line-height: 66px;
        color: $header-link-color;
        text-align: center;
        border-right: 1px solid #fff;
        border-top: 1px solid #fff;

        &:hover,
        &_active {
            color: $header-link-hover-color;
            line-height: 55px;
            border: 5px solid #eaeaea!important;
        } 
    }

    &__item:first-child .b-user-panel__button {
        border-left: 1px solid #fff;
    }

    &__item:last-child .b-user-panel__button {
        color: #000;
        border: none;
        line-height: 66px;

        &:hover {
            border: none!important;
        }
    }
}