@import "../_colors.scss";

.app-form .form-link {
    text-decoration: none;
    color: #202125;
}

    .app-form .form-link:hover {
        color: #ff0d00;
    }

.app-form {
    margin-top: 15px;
}

.app-form .form-group {
    margin-bottom: 30px;
}

.app-form .form-submit {
    margin-top: 10px;
    padding: 10px 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

.app-form .form-input {
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    border-radius: 2px; 
    border: none;
    border-bottom: 1px solid #202125;
    outline: none;
    background: $body-color;
    box-sizing: border-box;
}

    .app-form .form-input:focus {
        border-bottom: 2px solid #00a3d9;
    }

.app-form .form-text-danger {
    color: #ff0d00;  
}