<div class="b-header clearfix">
    <div class="b-logo b-header__logo">
        <img class="b-logo__image" src="../../../../assets/images/logo/icon-logo.png" alt="">
        <div class="b-logo__title">EasyKatka</div>            
    </div>
    <div class="b-header__content">
        <div class="b-super-header b-header__info-nav clearfix">
            <ul class="b-super-header__nav">
                <li class="b-super-header__item"><a href="#" class="b-super-header__link">Главная</a></li>
                <li class="b-super-header__item"><a href="#" class="b-super-header__link">Новости</a></li>
                <li class="b-super-header__item"><a href="#" class="b-super-header__link">Как это работает</a></li>
                <li class="b-super-header__item"><a href="#" class="b-super-header__link">Контакты</a></li>
                <li class="b-super-header__item"><a href="#" class="b-super-header__link"></a></li>
                <li class="b-super-header__item"><a href="#login-modal" class="b-super-header__link">Login/Register</a></li>
            </ul>
        </div>
        <div class="b-user-panel">
            <ul class="b-user-panel__nav clearfix">
                <li class="b-user-panel__item"><a href="#" class="b-user-panel__button">Аукционы</a></li>
                <li class="b-user-panel__item"><a href="#" class="b-user-panel__button">Добавить аукцион</a></li>
                <li class="b-user-panel__item"><a href="#" class="b-user-panel__button">Завершившиеся аукционы</a></li>
                <li class="b-user-panel__item"><a href="#" class="b-user-panel__button">Купить биды</a></li>
                <li class="b-user-panel__item"><a href="#" class="b-user-panel__button">Bid Count: 34</a></li>
            </ul>
        </div>
    </div>
</div>