/* Logo */
.b-logo {
    height: 100px;
    width: 100px;
    background: #292929;
}

.b-logo .b-logo__image {
    height: 80px;
    margin: 0 auto;
    display: block;
}

.b-logo .b-logo__title {
    height: 20px;
    line-height: 20px;
    color: #ecd481;
    font-family: Arial;
    font-size: 14px;
    text-align: center;
}

/* Header */
.b-header {
    min-width: 768px;
    position: relative;
    overflow: hidden;
}

.b-header .b-header__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
}

.b-header__content {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}


.b-main-content {
    background: #ecedec;
}

/* Super header*/
.b-super-header {
    background: #000;
    padding: 8px 0;
}

.b-super-header .b-super-header__nav {
    float: right;
    list-style: none;
}

.b-super-header .b-super-header__item {
    float: left;
    margin-left: 20px;
    padding: 0;
}

.b-super-header .b-super-header__item:last-child {
    margin-left: 40px;
}

.b-super-header .b-super-header__link {
    text-decoration: none;
    color: #999;
    text-decoration: none;
    font-size: 13px;
}

.b-super-header .b-super-header__link:hover {
    color: #fff;
}

/* User panel */
.b-user-panel {
    background: #3b3b3b;
}

.b-user-panel .b-user-panel__nav {
    list-style: none;
    
}

.b-user-panel .b-user-panel__item {
    float: left;
    width: 20%;
}

.b-user-panel .b-user-panel__item:last-child {
    background: #ecd481;
}

.b-user-panel .b-user-panel__button {
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    height: 66px;
    line-height: 66px;
    color: #e6e6e6;
    text-align: center;
    border-right: 1px solid #000;
}

.b-user-panel .b-user-panel__button:hover {
    color: #fff;
    line-height: 56px;
    border: 5px solid #222222;
}

.b-user-panel .b-user-panel__item:last-child .b-user-panel__button {
    color: #000;
    border: none;
}

.b-user-panel .b-user-panel__item:last-child .b-user-panel__button:hover {
    background: #ecd481;
    line-height: 56px;
    border: 5px solid #eac031;
}