@model Application.Models.AuctionModels.AuctionDescriptionViewModel
@{
    ViewBag.Title = "Auction";
}

<div class="b-auction-information">
    <div class="b-auction-information__image">

    </div>
    <div class="b-auction-information__title">@Model.Title</div>
    <div class="b-auction-information__time">@Model.TradingStart</div>
</div>

