@import 'defaults';
@import 'fonts';

$body-color: #f3f8fd;

* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

body {
    background: $body-color;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}