@model IEnumerable<Application.Models.AuctionModels.AuctionDescriptionViewModel>
@{
    ViewBag.Title = "Home";
}

<div class="b-lots-container">
    @foreach (var auction in Model)
    {
        <a href="@Url.Action("Open", "Auction", new { id = auction.Id })" class="b-lot">
            <div class="b-lot__image">
                <img src="~/Auction/GetImage?id=@auction.Id" alt="">
            </div>
            <div class="b-lot__details">
                <div class="b-lot__title">@auction.Title</div>
                <div class="b-lot__time">@auction.TradingStart</div>
                <div class="b-lot__cost">Стартовая цена: @auction.StartPrice</div>
                <div class="b-lot__button">Подробнее</div>
            </div>
        </a>
    }
</div>
