.account-container {
    margin-top: 60px;
}

.account-container .account-title {
    color: #202125;
    border-bottom: 1px solid #dedede;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

.account-form {
    width: 300px;
}