@import "../_colors.scss";

.account-container {
    margin: 50px auto;
    width: 350px;

    .account-title {
        color: $text-color;
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 50px;
    }

}

.account-form {
    width: 100%;
}