.profile-container {
    box-sizing: border-box;
    margin-top: 60px;
}

.profile-container .profile-nav {
    float: left;
    width: 30%;
}

.profile-container .profile-content {
    float: left;
    width: 70%;
}
