.user-list-form {
    padding: 0 20px;
    margin-top: 30px;
    border: 1px solid #eaeaea;
}

.col {
    box-sizing: border-box;
    width: 20%;
    float: left;
    padding: 10px 0;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.user-list-title {
    border-bottom: 1px solid #eaeaea;
}